PORT=4000
JWT_SECRET=your_secret_key

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=kiuda

# 사용방법
# PORT는 백엔드 서버가 실행될 포트 번호를 의미
# JWT_SECRET은 JWT 토큰을 암호화할 때 쓰이는 비밀 키이고, 현재는 아무렇게나 설정해주시면 됨.

# DB_HOST는 테스트할 때는 localhost, 배포할 때는 RDS 주소,
# 팀장님 컴퓨터로 돌릴 때는 192.168.0.191
# DB_USER 및 DB_PASSWORD는 본인의 MySQL 계정에 맞게 따로 설정해줘야 함.
# DB_NAME은 SQL에서 직접 만들어야 함. kiuda라는 이름으로 통일해주시면 좋겠습니다.